/%backup%~
/.DS_Store
/.cache/
/.cask/
/.lsp-session-v1
/.org-id-locations
/.rcirc.time
/.sx/
/anaconda-mode/
/auto-save-list/
/cmake-builds/
/eaf/
/eclipse.jdt.ls/
/eln-cache/
/elpa/
/elpa_old/
/eshell/
/forge-database.sqlite
/ido.last
/network-security.data
/org-roam.db
/persp-confs/
/projectile-bookmarks.eld
/recentf
/request/
/straight/
/tramp
/transient/
/url/
/workspace/
/emms/
/snippets/org-mode/Bable Header Args
/snippets/python-mode/
/xenops/
/.dap-breakpoints
/site-lisp/.DS_Store
/.ercpass
/secrets.el
