[submodule "site-lisp/gdoc.el"]
	path = site-lisp/gdoc.el
	url = git@github.com:Jemoka/gdoc.el.git
[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/scimax"]
	path = site-lisp/scimax
	url = https://github.com/jkitchin/scimax
[submodule "site-packages/reveal.js"]
	path = site-packages/reveal.js
	url = git@github.com:hakimel/reveal.js.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
